@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,700italic&subset=latin,vietnamese);
@media screen and (max-width: 460px) {
  .header-footer .btn-slim.fb-mobie-footer {
    width: 60%;
  }
  .header-footer .btn-slim.ev-mobie-footer {
    width: 60%;
  }
  .menu-footer-mobi a {
    color: white;
    border-top-color: white;
    border-top: 2px solid #fff;
  }
  .menu-footer-mobi a:hover {
    color: black;
  }
  .menu-footer-mobi .right-icon {
    position: absolute;
    left: 90%;
    padding-top: 3%;
  }
  h2.sv-title {
    font-size: 24px;
    text-align: center;
  }
  h2.sv-title .intro {
    color: white;
    font-size: 11px;
    padding-top: 5px;
  }
  h2.sv-main-title {
    font-size: 24px;
    text-align: center;
  }
  h2.sv-main-title .intro {
    color: white;
    font-size: 12px;
    padding-top: 10px;
  }
  h2.about-main-title {
    font-size: 15px;
    text-align: center;
  }
  h2.about-main-title .intro {
    color: white;
    font-size: 10px;
    /*padding-top: 10px;*/
  }
  h2.news-main-title {
    font-size: 14px;
  }
  h2.news-main-title .intro {
    color: white;
    font-size: 15px;
    /*padding-top: 10px;*/
  }
  #about-profile .header-about-banner .container h2 {
    font-size: 15px !important;
  }
  .header-contact .contact-info {
    font-size: 9px !important;
    padding-top: 30px !important;
  }
  .header-contact .footer-contact {
    height: 110px !important;
  }
  .header-contact .footer-contact .phone .phone-text {
    font-size: 12px !important;
    top: 23% !important;
    left: 49% !important;
  }
  .header-contact .footer-contact .phone .phone-img {
    left: -2% !important;
    padding-top: 15% !important;
  }
  .header-contact .footer-contact .phone .detail-text {
    top: 29% !important;
    left: 7% !important;
    font-size: 5px !important;
  }
  .header-contact .footer-contact .phone .detail-line {
    height: 68px !important;
  }
  .header-contact .footer-contact .mess {
    height: 110px !important;
  }
  .header-contact .footer-contact .mess .mess-img {
    top: 25% !important;
    left: 8% !important;
    width: 9% !important;
  }
  .header-contact .footer-contact .mess .mess-text {
    white-space: normal !important;
    top: 26% !important;
    left: 20% !important;
    font-size: 9px !important;
  }
  .header-contact .footer-contact .mess .mess-border {
    height: 36% !important;
    width: 99% !important;
    top: 18% !important;
    left: 3% !important;
  }
}
/*@media screen and (max-width : 800px) {
    .header-contact .header-circle-contact{
        .contact-info{
            font-size: 17px !important;
            padding-top: 30px !important;
        }
        .footer-contact{
            height: 110px !important;
            .phone{
                .phone-text{
                    font-size: 25px !important;
                    top: 23% !important;
                    left: 48% !important;
                }
                .phone-img{
                    left: 0% !important;
                    padding-top: 5% !important;
                }
                .detail-text{
                    top: 33% !important;
                    left: 7% !important;
                    font-size: 14px !important;
                }
                .detail-line{
                    height: 68px !important;
                }
            }
            .mess{
                height: 110px !important;
                .mess-img{
                    top: 14% !important;
                    left: 6% !important;
                    width: 12% !important;
                }
                .mess-text{
                    white-space: normal !important;
                    top: 22% !important;
                    left: 19% !important;
                    font-size: 16px !important;
                }
                .mess-border{
                    height: 37% !important;
                    width: 98% !important;
                    top: 12% !important;
                    left:4% !important;
                }
            }
        }
    }
}*/
@media screen and (min-width: 460px) {
  .menu-footer-mobi {
    display: none;
  }
  h2.sv-title {
    font-size: 32px;
    text-align: center;
  }
  h2.sv-title .intro {
    color: white;
    font-size: 16px;
    padding-top: 12px;
  }
  h2.sv-main-title {
    font-size: 42px;
    text-align: center;
  }
  h2.sv-main-title .intro {
    color: white;
    font-size: 18px;
    padding-top: 10px;
  }
  h2.about-main-title {
    font-size: 24px;
    text-align: center;
  }
  h2.about-main-title .intro {
    color: white;
    font-size: 15px;
    /*padding-top: 10px;*/
  }
  h2.news-main-title {
    font-size: 14px;
  }
  h2.news-main-title .intro {
    color: white;
    font-size: 15px;
    /*padding-top: 10px;*/
  }
}
a.alnk {
  color: #ffffff;
  text-decoration: none;
}
a.about-hover {
  display: block;
  opacity: 1;
  transition: opacity 0.45s ease-in-out;
  -moz-transition: opacity 0.45s ease-in-out;
  -webkit-transition: opacity 0.45s ease-in-out;
}
a.about-hover:hover {
  opacity: 0.5;
}
a.news-hover {
  display: block;
  opacity: 1;
  transition: opacity 0.45s ease-in-out;
  -moz-transition: opacity 0.45s ease-in-out;
  -webkit-transition: opacity 0.45s ease-in-out;
}
a.news-hover:hover {
  opacity: 0.5;
}
a .date-text {
  padding-right: 12px;
  color: white;
}
a .categories-text {
  background-color: #D82670;
  color: white;
  padding: 3px 5px 2px 5px;
}
.text-center {
  text-align: center;
}
.btn-orange {
  background-color: #ff530d;
  color: white;
  font-size: 10px;
  color: #fff;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange:focus:active {
  color: #fff;
}
body,
html {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.row-gap-small {
  height: 10px;
}
.row-gap-medium {
  height: 20px;
}
.row-gap-big {
  height: 50px;
}
.row-gap-huge {
  height: 100px;
}
.no-padding-l {
  padding-left: 0;
}
.no-padding-r {
  padding-right: 0;
}
.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}
.full-width {
  width: 100%;
}
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
h1:after {
  content: '';
  background-color: #333;
  height: 2px;
  width: 50px;
  display: block;
  margin: auto auto;
  margin-top: 10px;
}
.navbar-default {
  margin-bottom: 0;
  height: 100px;
  background: #fff;
}
.navbar-default .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-default .navbar-nav > li {
  height: 100px;
}
.navbar-default .navbar-nav > li a {
  color: #000;
  height: 100px;
  line-height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-default .navbar-nav > li a.active {
  color: #D82670;
}
.navbar-default .navbar-collapse {
  text-align: center;
  padding-left: 14%;
}
.mobile-menu {
  display: none;
}
.mobie-brand {
  padding-top: 3%;
}
.logo-mobie {
  padding-left: 13%;
}
#sidr-main .sidr-class-navbar-brand img {
  padding: 10px 10px;
  width: 100%;
  height: 100%;
}
#sidr-main button {
  background-color: #ff530d;
  color: white;
  font-size: 10px;
  color: #fff;
  width: 100%;
  border: none;
}
#sidr-main button:hover,
#sidr-main button:focus,
#sidr-main button:active,
#sidr-main button:focus:active {
  color: #fff;
}
#sidr-main .sidr-class-navbar-bars {
  display: none;
}
.sidr-open.sidr-main-open {
  position: relative;
  width: 100% !important;
  left: 0 !important;
}
.btn-toggle {
  color: #212737;
}
.header-banner {
  height: 458px;
  background-size: cover;
  background: url('../img/1.png') 50% 0 fixed;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  padding: 200px 0;
}
.header-banner .container h2 {
  color: white;
  font-size: 46;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header-banner .container.intro {
  color: white;
  font-size: 36;
}
.header-why {
  background-size: contain;
  background: url('../img/4.png');
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-why .why-text-left {
  color: #fff;
}
.header-why .why-text-right {
  color: black;
  /*padding-right: 40%;*/
}
.header-service .sv-main-block {
  position: relative;
}
.header-service .sv-main-block .caption h2 {
  color: white;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header-service .list {
  position: relative;
}
.header-service .list .caption h2 {
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header-partners {
  background: #F2F2F2;
}
.header-partners .first-group {
  margin-bottom: 20px;
}
.header-partners .second-group {
  margin-bottom: 10px;
}
.header-partners .content {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fff;
  border: 2px solid #333;
}
.header-partners .content:before {
  display: block;
  margin: auto auto;
  content: '参加企業の声';
  background: #1E1E1E;
  color: #fff;
  width: 100px;
  height: 30px;
  position: relative;
  top: -15px;
  line-height: 30px;
  text-align: center;
}
.header-about .about-main-block {
  position: relative;
}
.header-about .about-main-block .caption h2 {
  color: white;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 81%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.header-news .news-main-block {
  position: relative;
}
.header-news .news-main-block .caption {
  padding-left: 1.4em;
  position: absolute;
  top: 76%;
}
.header-news .news-main-block .caption h2 {
  color: white;
  margin: 0;
  padding-top: 4px;
  font-size: 20px;
  text-decoration: none;
}
.header-footer {
  background: #1E1E1E;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.header-footer .page-top {
  padding-bottom: 40px;
}
.header-footer .page-top .img-top {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -45px;
  transform: translate(-50%, -50%);
}
.btn-slim {
  border: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-slim,
.btn-slim:focus,
.btn-slim:active,
.btn-slim:focus:active {
  background: transparent;
}
.btn-slim .fa,
.btn-slim .glyphicon {
  margin-right: 5px;
  font-weight: 400;
}
.header-footer label {
  margin-bottom: 10px;
}
.header-footer .btn-slim {
  border: 1px solid #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.header-articles {
  background: #DADADA;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-articles h3 {
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  font-size: 16.9px;
  padding-bottom: 5px;
  font-weight: 700;
}
.header-articles img {
  margin-bottom: 15px;
}
#company-profile {
  letter-spacing: 2px;
}
#company-profile .header-com-banner {
  background: url('../img/banner.png') no-repeat;
  background-size: cover;
  height: 163px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
#company-profile .header-com-banner h2:first-child {
  margin-top: 300px;
  font-size: 41.6px;
}
#company-profile .header-com-banner .container {
  position: relative;
  height: 147px;
}
#company-profile .header-com-banner .container h2 {
  color: white;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#company-profile .header-com-banner .container.intro {
  color: white;
  font-size: 36;
}
#company-profile .breadcrumb-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}
#company-profile .breadcrumb-cp > li {
  display: inline-block;
}
#company-profile .breadcrumb-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#company-profile .menu-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border: 1px solid #CCCCCC;
  height: 80px;
  width: 700px;
}
#company-profile .menu-cp > li {
  text-align: center;
  display: inline-block;
  padding-left: 40px;
  padding-top: 22px;
}
#company-profile .menu-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#company-profile .menu-cp span.gly-menu {
  color: #A0D8FB;
}
#company-profile .bs-callout {
  padding: 1px;
  margin-top: 85px;
  border-width: 1px 1px 1px 5px;
  border-style: none;
  border-color: #EEE;
  background-color: transparent;
  border-left: 5px solid #68C7F5;
}
#company-profile .bs-callout h2 {
  padding-left: 15px;
}
#company-profile .bs-callout-danger {
  border-left-color: #68C7F5;
}
#company-profile .drop-line {
  margin: 20px 0px;
  border-style: none;
  border-color: #EEE;
  background-color: transparent;
  border-bottom: 2px solid #C9C9C9;
}
#company-profile .office-con {
  margin-bottom: 100px;
}
#company-profile .office-main-block {
  margin-top: 18px;
}
#company-profile .office-main-block a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
#company-profile div.info {
  margin-top: 10px;
  margin-bottom: 20px;
}
#company-profile .main-img {
  padding-right: 15px;
}
#company-profile .detail-info {
  width: 100%;
}
#company-profile .detail-info th {
  width: 30%;
  background-color: #C5E9F9;
  border-bottom: 1px solid #BEBFC1;
  padding: 15px 0px 15px 20px;
}
#company-profile .detail-info th span {
  /*padding: 10px 0px 10px 10px;*/
  font-size: 18px;
  font-weight: normal;
}
#company-profile .detail-info td {
  width: 70%;
  border-bottom: 1px solid #BEBFC1;
}
#company-profile .detail-info td span {
  font-size: 18px;
  font-weight: initial;
  text-align: left;
}
#company-profile .infos {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 100px;
}
#company-profile .evol .round1 {
  width: 95%;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #C5C5C5;
  margin-bottom: 100px;
}
#company-profile .soltec .round2 {
  width: 95%;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #C5C5C5;
  margin-left: 30px;
}
#company-profile .img-his {
  background-color: white;
}
#company-profile .header-his {
  padding: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #C5C5C5;
  background-color: #F2F2F2;
}
#company-profile .footer-his {
  padding: 20px;
  border-top: 1px;
  border-top-style: solid;
  border-color: #C5C5C5;
  background-color: #F2F2F2;
  margin: 0px;
}
.header-contact {
  background-color: #E9E9E9;
}
.header-contact .contact-info {
  padding-top: 70px;
  font-size: 35px;
  font-weight: bold;
}
.header-contact .contact-info .yellow {
  background-color: #FDCD0B;
  background-size: 100px 60px;
  background-repeat: no-repeat;
}
.header-contact .contact-info .green {
  background-color: #ADEC00;
  text-align: left;
}
.header-contact {
  padding-bottom: 35px;
}
.header-contact .footer-contact {
  margin-bottom: 50px;
  background-color: white;
  height: 180px;
}
.header-contact .footer-contact .phone {
  position: relative;
  /*background-color: green;*/
  height: 145px;
}
.header-contact .footer-contact .phone .phone-text {
  position: absolute;
  font-size: 44px;
  font-weight: 500;
  top: 39%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #E11B73;
  white-space: nowrap;
}
.header-contact .footer-contact .phone .phone-img {
  position: absolute;
  padding-top: 6%;
  left: 8%;
  width: 10%;
}
.header-contact .footer-contact .phone .detail-text {
  position: absolute;
  top: 60%;
  left: 18%;
  font-size: 20px;
}
.header-contact .footer-contact .phone .detail-line {
  height: 132px;
  border-right: 3px;
  border-right-style: solid;
  border-color: #E6E6E6;
  position: absolute;
  right: 0%;
  z-index: 999;
}
.header-contact .footer-contact .mess {
  position: relative;
  /*background-color: green;*/
  height: 145px;
}
.header-contact .footer-contact .mess .mess-img {
  position: absolute;
  top: 31%;
  left: 15%;
  width: 47px;
}
.header-contact .footer-contact .mess .mess-text {
  position: absolute;
  top: 34%;
  left: 26%;
  font-size: 24px;
  color: #E5177D;
}
.header-contact .footer-contact .mess .mess-border {
  height: 50%;
  width: 85%;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 999;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #E7167B;
}
#about-profile {
  letter-spacing: 2px;
}
#about-profile .header-about-banner {
  background: url('../img/banner2.png') no-repeat;
  background-size: cover;
  padding: 0px;
  height: 112px;
  position: relative;
}
#about-profile .header-about-banner .container h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#about-profile .breadcrumb-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}
#about-profile .breadcrumb-cp > li {
  display: inline-block;
}
#about-profile .breadcrumb-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#about-profile .infos {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 100px;
}
#about-profile .evol .round1 {
  width: 95%;
  margin-right: 30px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #C5C5C5;
  position: relative;
  /*margin-bottom: 100px;*/
}
#about-profile .evol .round1 img {
  width: 100%;
}
#about-profile .footer-his {
  padding-top: 25px;
  padding-bottom: 50px;
  border-top: 1px;
  border-top-style: solid;
  border-color: #C5C5C5;
  margin: 0px;
}
#about-profile .footer-his .title-about {
  font-size: 30px;
  font-weight: bold;
}
#about-profile .footer-his .content-about {
  padding-top: 400px;
}
#about-profile #triangle {
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #c4000a transparent;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#circle-profile .header-circle-banner {
  background: url('../img/banner3.png') no-repeat;
  background-size: cover;
  padding: 0px;
  height: 112px;
  position: relative;
}
#circle-profile .header-circle-banner .container h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#circle-profile .breadcrumb-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}
#circle-profile .breadcrumb-cp > li {
  display: inline-block;
}
#circle-profile .breadcrumb-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#circle-profile .bs-callout {
  border-left: 5px solid #FFD00E !important;
}
#circle-profile .bs-callout h2 {
  padding-left: 15px;
}
#circle-profile .bs-callout-danger {
  border-left-color: #68C7F5;
}
#circle-profile .drop-line {
  margin-top: 10px;
  border-style: none;
  border-color: #EEE;
  background-color: transparent;
  border-bottom: 2px solid #C9C9C9;
}
#circle-profile .text-circle {
  font-size: 18px;
}
#greeting-profile .header-gree-banner {
  background: url('../img/banner2.png') no-repeat;
  background-size: cover;
  padding: 0px;
  height: 112px;
  position: relative;
}
#greeting-profile .header-gree-banner .container h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#greeting-profile .breadcrumb-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}
#greeting-profile .breadcrumb-cp > li {
  display: inline-block;
}
#greeting-profile .breadcrumb-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#greeting-profile .text-gree {
  font-size: 36px;
  font-weight: bold;
}
#greeting-profile .text-gree1 {
  font-size: 24px;
  font-weight: bold;
}
#greeting-profile .text-gree2 {
  font-size: 18px;
}
#greeting-profile .text-gree3 {
  font-size: 18px;
  list-style: none;
}
#greeting-profile .text-gree3 li {
  position: relative;
  padding-bottom: 10px;
}
#greeting-profile .text-gree3 li::before {
  position: absolute;
  content: url('../img/red_dot.png');
  margin-left: -40px;
  margin-top: 2px;
}
#greeting-profile .tb-gree2 {
  font-size: 18px;
}
#greeting-profile .tb-gree2 th {
  font-weight: normal;
  padding-bottom: 10px;
}
#greeting-profile .tb-gree2 td {
  padding-left: 25px;
  padding-bottom: 10px;
}
#greeting-profile .bs-callout {
  border-left: 5px solid #C70D22 !important;
}
#greeting-profile .bs-callout h2 {
  padding-left: 15px;
}
#greeting-profile .bs-callout-danger {
  border-left-color: #68C7F5;
}
#greeting-profile .drop-line {
  margin: 10px 0px;
  border-style: none;
  border-color: #EEE;
  background-color: transparent;
  border-bottom: 2px solid #C9C9C9;
}
#vietnam-profile .header-gree-banner {
  background: url('../img/banner2.png') no-repeat;
  background-size: cover;
  padding: 0px;
  height: 112px;
  position: relative;
}
#vietnam-profile .header-gree-banner .container h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#vietnam-profile .breadcrumb-cp {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
}
#vietnam-profile .breadcrumb-cp > li {
  display: inline-block;
}
#vietnam-profile .breadcrumb-cp a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}
#vietnam-profile .text-gree {
  font-size: 36px;
  font-weight: bold;
}
#vietnam-profile .text-gree1 {
  font-size: 24px;
  font-weight: bold;
}
#vietnam-profile .text-gree2 {
  font-size: 18px;
}
#vietnam-profile .text-gree3 {
  font-size: 18px;
  list-style: none;
}
#vietnam-profile .text-gree3 li {
  position: relative;
  padding-bottom: 10px;
}
#vietnam-profile .text-gree3 li::before {
  position: absolute;
  content: url('../img/red_dot.png');
  margin-left: -40px;
  margin-top: 2px;
}
#vietnam-profile .tb-gree2 {
  font-size: 18px;
}
#vietnam-profile .tb-gree2 th {
  font-weight: normal;
  padding-bottom: 10px;
}
#vietnam-profile .tb-gree2 td {
  padding-left: 25px;
  padding-bottom: 10px;
}
#vietnam-profile .bs-callout {
  border-left: 5px solid #C70D22 !important;
}
#vietnam-profile .bs-callout h2 {
  padding-left: 15px;
}
#vietnam-profile .bs-callout-danger {
  border-left-color: #68C7F5;
}
#vietnam-profile .drop-line {
  margin: 10px 0px;
  border-style: none;
  border-color: #EEE;
  background-color: transparent;
  border-bottom: 2px solid #C9C9C9;
}
#vietnam-profile hr {
  margin-top: 22px;
  margin-bottom: 22px;
  width: 30px;
  border: 0;
  border-top: 2px solid #000;
}
#vietnam-profile .green-text {
  color: #00a04c;
}
#vietnam-profile .container-fluid.bg,
#vietnam-profile .grey-bg {
  background-color: #e9e9e9;
}
#vietnam-profile h2 {
  line-height: 40px;
}
#vietnam-profile .blur-black {
  color: #737373;
}
