@charset "UTF-8";
/* 
    Created on : Jul 22, 2015, 10:06:31 AM
    Author     : khangld
    Description: style
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
ol,
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.inline-block {
  display: inline-block;
}
.center {
  text-align: center;
}
.table-borderless tbody tr th {
  border: none;
}
.table-borderless tbody tr td {
  border: none;
}
/*-------------------------------------------------------------- Contact page */
.contact {
  /*    input[type="text"] {
            border: 2px solid #ccc;
            height: 30px;
            width: 480px;
        }*/
}
.contact .banner {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact h2.title {
  color: #333333;
  font-size: 2.1rem;
  font-weight: normal;
  margin: 40px 0 20px;
  text-shadow: 1px 1px 0 #fff;
}
.contact span.red {
  color: #e74c3c;
}
.contact form label {
  font-weight: normal;
}
.contact form .send {
  clear: both;
  padding-top: 40px;
}
.contact form .send button {
  text-align: center;
  width: 250px;
}
.contact .privacy h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.contact .privacy ul {
  list-style: outside;
  padding-left: 20px;
}
.contact .privacy ul li {
  font-size: 12px;
}
.contact label.error {
  color: #e74c3c;
}
.contact input.error {
  color: #e74c3c;
  border: 1px solid #e74c3c;
}
.contact button.btn-confirm {
  width: 150px;
}
/*------------------------------------------------------------------------ FAQ*/
.faq .ul_faq01 li {
  width: 373px;
}
.faq .ul_faq01 li p {
  background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 -1134px;
  margin: 5px 6px 0;
  padding: 0 0 0 8px;
}
.faq .ul_faq01 li p:first-child {
  background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1250px;
  border-bottom: 1px solid #9d72b5;
  border-top: 1px solid #9d72b5;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 5px 0 5px 12px;
}
.faq .ul_faq01 li p:first-child a {
  color: #9d72b5;
}
.faq .ul_faq02 li:first-child {
  margin-top: 0;
}
.faq .ul_faq02 > li {
  margin-top: 60px;
}
.faq .ul_faq02 > li h3 {
  background: rgba(0, 0, 0, 0) url("../img/faq/bg_repeat.png") repeat-x scroll center bottom;
}
.faq .ul_faq02 > li h3 span {
  background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1483px;
  border-top: 2px solid #9d72b5;
  color: #9d72b5;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 10px 45px;
}
.faq .ul_faq03 li {
  padding-bottom: 20px;
}
.faq .ul_faq03 li h4 {
  background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1360px;
  border-bottom: 1px dotted #888;
  border-top: 2px solid #9d72b5;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
  padding: 22px 0 19px 28px;
}
/*============================================================================*/
/* 
    Created on : Jul 22, 2015, 9:48:57 AM
    Author     : khangld
    Description: @screen-xs
*/
@media (max-width: 480px) {
  /*---------------------------------------------------------- Contact page */
  .keyvisual-contact {
    margin-bottom: 0px;
    position: relative;
    max-width: 100%;
    min-height: 90px;
    background: url('../img/keyvisual_contact_pc.jpg') no-repeat scroll center center / auto 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
  }
  .keyvisual-contact .text {
    color: #fff;
    left: 0;
    position: absolute;
    top: 30%;
    width: 100%;
  }
  .keyvisual-contact .text p.lead {
    text-align: center;
    margin: 10px auto;
  }
  .keyvisual-contact .text p.lead.main {
    font-size: 20px;
    margin: -10px auto;
  }
  .contact .eva-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact h2.title {
    margin: 20px 0;
  }
  .contact form label {
    font-weight: normal;
  }
  .contact form .send .hold-btn-send {
    text-align: center;
  }
}
/* 
    Created on : Jul 22, 2015, 9:49:55 AM
    Author     : khangld
    Description: @screen-sm
*/
@media (min-width: 768px) {
  /*---------------------------------------------------------- Contact page */
  .keyvisual-contact {
    margin-bottom: 0px;
    position: relative;
    max-width: 100%;
    min-height: 270px;
    background: url('../img/keyvisual_contact_pc.jpg') no-repeat scroll center center / auto 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
  }
  .keyvisual-contact .text {
    color: #fff;
    left: 0;
    position: absolute;
    top: 35%;
    width: 100%;
  }
  .keyvisual-contact .text p.lead {
    text-align: center;
    margin: 10px auto;
  }
  .keyvisual-contact .text p.lead.main {
    font-size: 40px;
    margin: 10px auto;
  }
}
/* 
    Created on : Jul 22, 2015, 9:50:29 AM
    Author     : khangld
    Description: @screen-md
*/
@media (min-width: 992px) {
  #headerWrap {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
  }
  .headerL {
    float: left;
    width: 510px;
  }
  #index .headerL {
    float: left;
    width: 600px;
  }
  #logo {
    float: left;
  }
  #headerWrap h1 {
    float: right;
    padding-top: 12px;
    width: 320px;
    font-size: 12px;
  }
  #index #headerWrap h1 {
    float: right;
    padding-top: 12px;
    width: 420px;
  }
  .btnContact {
    float: right;
    padding-top: 10px;
  }
  #gNaviWrap {
    background: rgba(0, 0, 0, 0) url("../img/gnavi/bg_gNavi01.png") repeat-x scroll 0 0;
    height: 59px;
    width: 100%;
  }
  #gNavi {
    margin: 0 auto;
    width: 1000px;
  }
  #gNavi li {
    float: left;
  }
  #gNavi li a {
    background: rgba(0, 0, 0, 0) url("../img/gnavi/bg_gNavi1.png") no-repeat scroll 0 0;
    display: block;
    height: 52px;
    text-indent: -9999em;
  }
  #gNavi li a:hover {
    transition: none 0s ease 0s !important;
  }
  #gNavi01 a {
    background-position: 0 0;
    width: 49px;
  }
  #gNavi02 a {
    background-position: -49px 0 !important;
    width: 119px;
  }
  #news #gNavi02 a,
  #gNavi02 a:hover {
    background-position: -49px -52px !important;
    width: 119px;
  }
  #gNavi03 a {
    background-position: -168px 0 !important;
    width: 119px;
  }
  #company #gNavi03 a,
  #gNavi03 a:hover {
    background-position: -168px -52px !important;
    width: 119px;
  }
  #gNavi04 a {
    background-position: -287px 0 !important;
    width: 119px;
  }
  #service #gNavi04 a,
  #gNavi04 a:hover {
    background-position: -287px -52px !important;
    width: 119px;
  }
  #gNavi05 a {
    background-position: -406px 0 !important;
    width: 119px;
  }
  #recommend #gNavi05 a,
  #gNavi05 a:hover {
    background-position: -406px -52px !important;
    width: 119px;
  }
  #gNavi06 a {
    background-position: -525px 0 !important;
    width: 118px;
  }
  #about_vietnam #gNavi06 a,
  #gNavi06 a:hover {
    background-position: -525px -52px !important;
    width: 118px;
  }
  #gNavi07 a {
    background-position: -643px 0 !important;
    width: 119px;
  }
  #faq #gNavi07 a,
  #gNavi07 a:hover {
    background-position: -643px -52px !important;
    width: 119px;
  }
  #gNavi08 a {
    background-position: -762px 0 !important;
    width: 119px;
  }
  #recruit #gNavi08 a,
  #gNavi08 a:hover {
    background-position: -762px -52px !important;
    width: 119px;
  }
  #gNavi09 a {
    background-position: -881px 0 !important;
    width: 119px;
  }
  #contact #gNavi09 a,
  #gNavi09 a:hover {
    background-position: -881px -52px !important;
    width: 119px;
  }
  div#container {
    height: auto;
    margin: 20px auto 60px;
    text-align: center;
    width: 1000px;
  }
  div#mainContent {
    float: right;
    height: auto;
    margin: 0;
    width: 770px;
  }
  #subNavi {
    float: left;
    width: 200px;
  }
  /*---------------------------------------------------------- Contact page */
  .keyvisual-contact {
    margin-bottom: 0px;
    position: relative;
    max-width: 100%;
    min-height: 270px;
    background: url('../img/keyvisual_contact_pc.jpg') no-repeat scroll center center / auto 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
  }
  .keyvisual-contact .text {
    color: #fff;
    left: 0;
    position: absolute;
    top: 35%;
    width: 100%;
  }
  .keyvisual-contact .text p.lead {
    text-align: center;
    margin: 10px auto;
  }
  .keyvisual-contact .text p.lead.main {
    font-size: 40px;
    margin: 10px auto;
  }
}
/* 
    Created on : Jul 22, 2015, 10:03:40 AM
    Author     : khangld
    Description: @screen-lg
*/
@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  #headerWrap {
    margin: 0 auto;
    padding: 20px 0;
    width: 1000px;
  }
  .headerL {
    float: left;
    width: 510px;
  }
  #index .headerL {
    float: left;
    width: 600px;
  }
  #logo {
    float: left;
  }
  #headerWrap h1 {
    float: right;
    padding-top: 14px;
    width: 320px;
    font-size: 13px;
  }
  #index #headerWrap h1 {
    float: right;
    padding-top: 12px;
    width: 420px;
  }
  .btnContact {
    float: right;
    padding-top: 10px;
  }
  #gNaviWrap {
    background: rgba(0, 0, 0, 0) url("../img/gnavi/bg_gNavi01.png") repeat-x scroll 0 0;
    height: 59px;
    width: 100%;
  }
  #gNavi {
    margin: 0 auto;
    width: 1000px;
  }
  #gNavi li {
    float: left;
  }
  #gNavi li a {
    background: rgba(0, 0, 0, 0) url("../img/gnavi/bg_gNavi1.png") no-repeat scroll 0 0;
    display: block;
    height: 52px;
    text-indent: -9999em;
  }
  #gNavi li a:hover {
    transition: none 0s ease 0s !important;
  }
  #gNavi01 a {
    background-position: 0 0;
    width: 49px;
  }
  #gNavi02 a {
    background-position: -49px 0 !important;
    width: 119px;
  }
  #news #gNavi02 a,
  #gNavi02 a:hover {
    background-position: -49px -52px !important;
    width: 119px;
  }
  #gNavi03 a {
    background-position: -168px 0 !important;
    width: 119px;
  }
  #company #gNavi03 a,
  #gNavi03 a:hover {
    background-position: -168px -52px !important;
    width: 119px;
  }
  #gNavi04 a {
    background-position: -287px 0 !important;
    width: 119px;
  }
  #service #gNavi04 a,
  #gNavi04 a:hover {
    background-position: -287px -52px !important;
    width: 119px;
  }
  #gNavi05 a {
    background-position: -406px 0 !important;
    width: 119px;
  }
  #recommend #gNavi05 a,
  #gNavi05 a:hover {
    background-position: -406px -52px !important;
    width: 119px;
  }
  #gNavi06 a {
    background-position: -525px 0 !important;
    width: 118px;
  }
  #about_vietnam #gNavi06 a,
  #gNavi06 a:hover {
    background-position: -525px -52px !important;
    width: 118px;
  }
  #gNavi07 a {
    background-position: -643px 0 !important;
    width: 119px;
  }
  #faq #gNavi07 a,
  #gNavi07 a:hover {
    background-position: -643px -52px !important;
    width: 119px;
  }
  #gNavi08 a {
    background-position: -762px 0 !important;
    width: 119px;
  }
  #recruit #gNavi08 a,
  #gNavi08 a:hover {
    background-position: -762px -52px !important;
    width: 119px;
  }
  #gNavi09 a {
    background-position: -881px 0 !important;
    width: 119px;
  }
  #contact #gNavi09 a,
  #gNavi09 a:hover {
    background-position: -881px -52px !important;
    width: 119px;
  }
  div#container {
    height: auto;
    margin: 20px auto 60px;
    text-align: center;
    width: 1000px;
  }
  div#mainContent {
    float: right;
    height: auto;
    margin: 0;
    width: 770px;
  }
  #subNavi {
    float: left;
    width: 200px;
  }
  #footerWrap {
    background: rgba(0, 0, 0, 0) url("../img/footer/bg_dotted.png") repeat scroll 0 0;
    width: 100%;
  }
  #footerInner {
    background: #34302f url("../img/footer/bg_shadow01.png") repeat-x scroll 0 0;
    padding-top: 6px;
  }
  #footerInner .outer {
    background: rgba(0, 0, 0, 0) url("../img/footer/bg_shadow02.png") repeat-x scroll 0 bottom;
    padding-bottom: 8px;
  }
  #footerInner .inner {
    margin: 0 auto;
    padding: 25px 0;
    width: 1000px;
  }
  .address {
    color: #fff;
    float: left;
    font-size: 10px;
    width: 170px;
  }
  .fContact {
    color: #c9caca;
    float: right;
    width: 205px;
  }
  .fLink {
    float: left;
    width: 620px;
  }
  .fLink > li {
    background: rgba(0, 0, 0, 0) url("../img/footer/bg_line.png") repeat-y scroll 0 0;
    float: left;
    margin-left: 35px;
    padding-left: 40px;
  }
  .fLink a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .ul_fLink > li > a {
    background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 -237px;
    color: #efefef;
    display: block;
    padding-bottom: 10px;
    padding-left: 12px;
  }
  .ul_fLink ul li > a {
    color: #b5b5b6;
    display: block;
    font-size: 10px;
    padding-bottom: 5px;
  }
  .ul_fLink ul ul li > a {
    background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 -838px;
    margin-left: 15px;
    padding-left: 10px;
  }
  .ul_fLink03 > li a {
    padding-bottom: 13px;
  }
  .fContent {
    font-size: 10px;
    margin: 0 auto;
    padding: 15px 0;
    width: 1000px;
  }
  .fNavi {
    float: left;
    width: 450px;
  }
  .fNavi li {
    background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 -1017px;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
  }
  .footerRecuit01 {
    margin: -7px 0 5px 13px;
  }
  .copyright {
    float: right;
    width: 530px;
  }
  #bread {
    margin: 0 0 15px;
  }
  #bread li {
    color: #9fa0a0;
    float: left;
  }
  #bread a {
    background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll right -957px;
    color: #9fa0a0;
    margin: 0 5px 0 0;
    padding: 0 10px 0 0;
  }
  .contactBox {
    background: rgba(0, 0, 0, 0) url("../img/btn/bg_contact01.jpg") no-repeat scroll 0 0;
    height: 209px;
    margin: 80px auto 40px;
    position: relative;
    width: 742px;
  }
  .contactBox img {
    left: 265px;
    position: absolute;
    top: -68px;
  }
  .wi_icon {
    background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 0;
    display: inline-block;
  }
  .wi_icon:hover {
    opacity: 0.6;
  }
  .wi_icon01 {
    background-position: 0 0 !important;
    height: 18px;
    width: 56px;
  }
  .wi_icon02 {
    background-position: 0 -30px !important;
    height: 13px;
    width: 66px;
  }
  .wi_icon03 {
    background-position: 0 -60px !important;
    height: 13px;
    width: 42px;
  }
  .wi_icon04 {
    background-position: 0 -90px !important;
    height: 13px;
    width: 67px;
  }
  .wi_icon05 {
    background-position: -60px -420px !important;
    height: 25px;
    width: 58px;
  }
  .wi_icon06 {
    background-position: 0 -420px !important;
    height: 7px;
    width: 40px;
  }
  .wi_icon07 {
    background-position: -120px -420px !important;
    height: 7px;
    width: 41px;
  }
  .wi_icon08 {
    background-position: -120px -480px !important;
    height: 34px;
    width: 37px;
  }
  .wi_icon09 {
    background-position: -180px -480px !important;
    height: 34px;
    width: 37px;
  }
  .wi_icon10 {
    background-position: -240px -480px !important;
    height: 34px;
    width: 37px;
  }
  /*---------------------------------------------------------- Contact page */
  .keyvisual-contact {
    margin-bottom: 40px;
    position: relative;
    max-width: 100%;
    min-height: 416px;
    background: url('../img/keyvisual_contact_pc.jpg') no-repeat scroll center center / auto 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    overflow: hidden;
  }
  .keyvisual-contact .text {
    color: #fff;
    left: 0;
    position: absolute;
    top: 40%;
    width: 100%;
  }
  .keyvisual-contact .text p.lead {
    text-align: center;
    margin: 10px auto;
  }
  .keyvisual-contact .text p.lead.main {
    font-size: 40px;
    margin: 20 auto;
  }
  .contact .eva-info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact form {
    margin: 0 auto;
    max-width: 830px;
  }
  .contact form label {
    text-align: right;
  }
  .contact form .other input[type='checkbox'] {
    margin-top: 12px;
  }
  .contact form .other input[type='text'] {
    display: inline-block;
    width: auto;
  }
}
/* 
    Created on : Jul 22, 2015, 10:05:03 AM
    Author     : khangld
    Description: (@screen-sm-min - 1)
*/
@media (min-width: 767px) {
  /*---------------------------------------------------------- Contact page */
}
