@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,700italic&subset=latin,vietnamese);
@font-size-body: 14px;
@font-size-9: 0.643em;/*9px*/
@font-size-11: 0.786em;/*11px*/
@font-size-12: 0.875em;/*12px*/
@font-size-16: 1.143em;/*16px*/
@font-size-18: 1.286em;/*18px*/
@font-size-20: 1.429em;/*20px*/
@font-size-24: 1.714em;/*24px*/
@font-size-28: 2em;/*28px*/
@font-size-44: 3.214em;/*44px*/
@color-pink:#e69698;
@color-red:#b71f22;
@color-gray:#ccc;
@color-body:#000;
@color-white:#fff;
body, html {
    font-family: 'Roboto', sans-serif;
    font-size:@font-size-body;
    color:@color-body;
}

.head-cruit{
	max-width:1000px;
	margin:auto;
	padding-top:25px;
	a:hover img{
		opacity:0.5;
	}	
}

.navbar-default{
	border:none;
	background:none;
	padding-top:23px;
}

.navbar .navbar-nav {
	border:none;
	li{
		a:hover{
			opacity:0.5;
		}
		.text-above-line{
			color:@color-body;
			font-weight:bold;
		}
		.text-below-line{
			color:@color-pink;
			font-weight:bold;
			font-size: @font-size-9;
			text-transform: uppercase;
		}		
	}
	.dropdown-menu{
		li{
			padding:0px;
			a:hover{
				background:@color-white;
				color:@color-pink;
			}
		}
		li:after{
			content:"";
		}
		li:before{
			content:"";
		}	
	}		
}

.social-cruit{
	max-width:1000px;
	margin:-20px auto;
}


.footer-cruit{
	margin-top:100px;
	background:@color-body;
	.footer-cruit-content{
		max-width:1000px;
		margin:auto;	
		color:@color-white;
		font-size:@font-size-12;		
		.footer-cruit-content-group{
			padding:30px 0;
			ul{
				list-style-type:none;
				text-align:left;
				margin-left:-30px;
				li{
					line-height:30px;
					a{
						color:@color-white;
						text-decoration:none;
						font-weight:bold;					
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
			.footer-cruit-content-item-ul-1{
				border-right:solid 1px #474443;
				.list-style{
					color:yellow;
					padding-right:5px;
				}
				.footer-cruit-content-item-ul-1-1{
					margin-left:-38px;		
					.list-style-child{
						color:@color-white;
						padding-right:3px;
						text-transform: uppercase;
					}						
				}
			}
		}		
	}
}
.copyright{
	background: url("../img/top/bg_footer.png") repeat scroll center center rgba(2, 255, 255, 0);
  	color: #3e3a39;
  	padding: 15px;
  	font-size:@font-size-9;
  	letter-spacing:1px;
}

.contact-box{
	max-width:860px;
	margin:30px auto 0;
	border:solid 1px @color-gray;	
	padding:18px 0;	
	h1{
		font-weight:bold;
		span{
			color:@color-pink;
		}
	}
	h2{
		font-weight:bold;
		margin-top:5px;
		border-bottom: 1px dotted @color-body;
		padding-bottom:5px;
		span{
			color:@color-red;
		}			
	}
	img{
		margin:auto;
	}
	a:hover{
		opacity:0.5;
	}
}

@media (min-width: 320px) {
	.head-cruit-item{
		padding-top:20px;
	}

    .navbar .navbar-nav {
        display: inline-block;
        float: left;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: left;
    }	

   	.navbar .navbar-nav {
   		li{
			padding:0px 18px;   			
			.text-above-line{
				font-size: @font-size-body;
			}   		
   		}

		li:after{
			position:absolute;
		}
		li:before{
			position:absolute;
			content:"";
		}
		.dropdown-menu{
			left:18px;
			li{
				font-size: @font-size-body;
			}	
		}		
   	}  	
	.dropdown-menu{
		li{
			a{
				color:@color-body !important;
			}
			a:hover{
				color:@color-pink !important;
			}
		}
	}
    .navbar-collapse{
	    position:absolute;
	    width:100%;
	    background-color: rgba(255, 255, 255, 0.9);
	    z-index:9999 !important;
	    border:solid 1px @color-gray;
    }
    .navbar-toggle{
      	background:black;
    }
    .navbar-toggle:hover{
      	background:@color-red !important;
    }    
	.navbar-default .navbar-toggle:focus{
		background-color: black;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  	background-color: white;
	}    
	.social-cruit{	
		padding-top:30px;	
		.social-cruit-content{
			text-align:center;
		}
	}

	.contact-box{
		h1{
			font-size:@font-size-20;
			line-height:25px;
		}
		h2{
			font-size:@font-size-16;			
		}
	}	
}
@media (min-width: 768px) {
	.head-cruit-item{
		padding-top:0px;
	}  

    .navbar .navbar-nav {   
        display: inline-block;
        float: none;
        vertical-align: top;        
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

   	.navbar .navbar-nav {
   	   	li{
			padding:0px 1px;   			
			.text-above-line{
				font-size: @font-size-11;
			}   		
   		} 
		li:after{
			position:absolute;
			content:"|";
			top:25%;
			left:0;
			color:#595757;
			font-size:@font-size-9;	
		}
		li:before{
			position:absolute;
			content:"|";
			top:25%;
			left:100%;
			color:#595757;
			font-size:@font-size-9;	
		}
		.dropdown-menu{
			left:1px;
			li{
				font-size: @font-size-11;
			}	
		}		
   	}  
   	.navbar-collapse{
   		background:none;
   		border:none;
   	}
	.social-cruit{	
		padding-top:50px;	
		.social-cruit-content{
			text-align:right;
		}
	}
	.contact-box{
		h1{
			font-size:@font-size-28;
			line-height:40px;
		}
		h2{
			font-size:@font-size-20;			
		}
	}			 	
}

@media (min-width: 1024px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

   	.navbar .navbar-nav {
   	   	li{
			padding:0px 8px;   			
			.text-above-line{
				font-size: @font-size-12;
			}   		
   		}   	
		li:after{
			position:absolute;
			content:"|";
			top:25%;
			left:0;
			color:#595757;
			font-size:@font-size-9;	
		}
		li:before{
			position:absolute;
			content:"|";
			top:25%;
			left:100%;
			color:#595757;
			font-size:@font-size-9;	
		}
		.dropdown-menu{
			left:8px;
			li{
				font-size: @font-size-12;
			}	
		}		
   	} 	
   	.navbar-collapse{
   		background:none;
   		border:none;
   	}   	
	.social-cruit{	
		padding-top:50px;
		.social-cruit-content{
			text-align:right;
		}
	}   		
}
@media (min-width: 1220px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

   	.navbar .navbar-nav {
   	   	li{
			padding:0px 18px;   			
			.text-above-line{
				font-size: @font-size-body;
			}   		
   		}   	
		li:after{
			position:absolute;
			content:"|";
			top:25%;
			left:0;
			color:#595757;
			font-size:@font-size-9;	
		}
		li:before{
			position:absolute;
			content:"|";
			top:25%;
			left:100%;
			color:#595757;
			font-size:@font-size-9;	
		}
		.dropdown-menu{
			left:18px;
			li{
				font-size: @font-size-body;
			}	
		}		
   	}  
   	.navbar-collapse{
   		background:none;
   		border:none;
   	}   
	.social-cruit{	
		padding-top:50px;
		.social-cruit-content{
			text-align:right;
		}
	}   		  		 
}
@import "define-style.less";
@import "index.less";
@import "message.less";
@import "voice_senpai.less";
@import "voice_intership.less";
@import "attractive.less";
@import "job.less";
@import "requirements.less";
@import "faq.less";
@import "contact.less";