.head-banner-wrap {
  position: relative;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  height: 163px;
}
.head-banner-wrap.blue {
  background: url("../img/banner-blue.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-banner-wrap.pink {
  background: url("../img/banner-pink.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-banner-wrap.red {
  background: url("../img/banner-red.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-banner-wrap.yellow {
  background: url("../img/banner-yellow.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.head-banner-wrap h2 {
  color: white;
  font-weight: bold;
  left: 50%;
  margin: 0 -50% 0 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
