/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 2:59:37 PM
    Author     : haudv
*/
.breadcrumb-cp{
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    >li{
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
    }
}
.vff-bg{
    background: url('../img/top-vff-bg.png') no-repeat;
    background-size: cover;
    color: #fff;
    h3{
        font-size:@sub-title-font-size;
    }
    p{
        font-size:@description-font-size;
    }
}
#company-staff{
    .header-vff-banner {
        background: url('../img/vff-banner.png') no-repeat;
        background-size: cover;
        padding: 0px;
        height: 112px;
        position: relative;
        .container {
            h2 {
                color: white;
                font-size: 40px;
                font-weight: bold;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%)
            }
        }
    }    
    .blue-text {
        color: #44B7F6;
    }
    .staff-divider{
        border-top: 1px solid
    }
}
#vff{
    .header-vff-banner {
        background: url('../img/vff-banner.png') no-repeat;
        background-size: cover;
        padding: 0px;
        height: 112px;
        position: relative;
        .container {
            h2 {
                color: white;
                font-size: 40px;
                font-weight: bold;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%)
            }
        }
    }

    hr {
        margin-top: 10px;
        margin-bottom: 22px;
        width: 20px;
        border: 0;
        border-top: 2px solid #000;
    }
    .green-text {
        color: #00a04c;
    }
    .blue-text {
        color: #44B7F6;
    }
    .blue-bg{
        background: url('../img/vff-blue-bg.png') no-repeat;
        background-size: cover;
        h3{
            color: #fff;
        }
    }
    .container-fluid.bg{
        background: url('../img/vff-bg.png') no-repeat;
        background-size: cover;
        height: 634px;
    }
    .vertical-align {
        display: flex;
        flex-direction: row;
    }
    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
        display: flex;
        align-items: center;     /* Align the flex-items vertically */
        justify-content: center; /* Optional, to align inner flex-items 
                                    horizontally within the column  */
    }
    .reason2{
        h4{
            font-weight: bold
        }
    }
    h2{
        line-height: 40px;
    }
    .blur-black {
        color: #CFCFCF;
    }
    article{
        text-align: center;
        h4{
            position: absolute;
            right: 20px;
            padding: 10px;            
            color: #ff0000;
            font-weight: bold;
            background-color: rgba(255,255,255,0.7);
        }
    }
    .longbg{
        padding-bottom: 100px;
        background: url('../img/vietnam-grid.png') repeat;
    }
    h3.post32{
        margin-top: -70px; 
        z-index: 100;
    }

}
#vietnam-profile{
    .header-gree-banner {
        background: url('../img/vietnam-banner.png') no-repeat;
        background-size: cover;
        padding: 0px;
        height: 112px;
        position: relative;
        .container {
            h2 {
                color: white;
                font-size: 40px;
                font-weight: bold;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%)
            }
        }
    }

    hr {
        margin-top: 22px;
        margin-bottom: 22px;
        width: 30px;
        border: 0;
        border-top: 2px solid #000;
    }
    .green-text {
        color: #00a04c;
    }
    .container-fluid.bg, .grey-bg{
        background: url('../img/vietnam-grid.png') repeat;
    }
    h2{
        line-height: 40px;
    }    
    .blur-black {
        color: #CFCFCF;
    }
    article{
        text-align: center;
        h4{
            position: absolute;
            right: 20px;
            padding: 10px;            
            color: #ff0000;
            font-weight: bold;
            background-color: rgba(255,255,255,0.7);
        }
    }
    .longbg{
        padding-bottom: 100px;
        background: url('../img/vietnam-grid.png') repeat;
    }
    h3.post32{
        margin-top: -70px; 
        z-index: 100;
    }

}

#labo{
    h1 {
        margin-top: 0px;
        margin-bottom: 0px;        
    }
    h1:after{
        height: 0px;
    }
    .container-8 {
        //max-width: 940px;
    }
    .pink-text{
        color: #E5177D;
    }
    .last-block {
        background: url('../img/pink-grid.png') repeat;
        padding-bottom: 10px;
        .rect{
            margin-left: 0px; 
            margin-right: 0px; 
            padding: 5px 30px 5px 30px;
            border: 4px solid #FFB2D2;
            background-color: #fff;
        }
        h2{
            line-height: 50px;
        }
        h3{
            font-weight: bold;
            line-height: 40px;
        }
    }
    .last-block .desc {
        padding-top: 70px;
        font-size: 35px;
        font-weight: bold;
    }
    .text-pos {
        color: #fff;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 45%;
        transform: translate(0, -50%);
        letter-spacing: 3px;
        font-weight: bold;
        h2{
            font-size: @title-font-size;
        }
        
    }
    .header-reason-banner {
        background: url('../img/labo-banner.png') no-repeat;
        background-size: cover;
        padding: 0px;
        height: 165px;
        position: relative;
        .container {
            h2 {
                color: white;
                font-size: 40px;
                font-weight: bold;
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%)
            }
        }
    }

    .intersection
    {   
        position: relative;
        margin-top: -100px;
        background: rgba(255,255,255,1);
        padding-left: 5px;
        padding-right: 5px;
        height: 400px;
        h3.post32{
            margin-top: -70px; 
            z-index: 100;
        }
        z-index: 100;
        color: #000;       
        h3{
            line-height: 40px;
            font-size: @sub-sub-title-font-size;
            font-weight: bold;
        }
    }
    .intersection-text-pos {
        margin: 0;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translate(0, -50%);
    }

    .block-2{
        margin-top: -40px;
        background: url('../img/grey-grid.png') repeat;
        /*position: relative;*/
        .text-1{
            font-size: 30px;
            font-weight: bold;
            color: #1C1C1C;
        }
        .text-2{
            font-size: 36px;
            font-weight: bold;
            color: #1C1C1C;
        }
        .gap-medium{
            padding-bottom: 45px;
        }
    }
    .block-3{
        background: url('../img/white-grid.png') repeat;
        h3{
            font-weight: bold;
            line-height: 40px;
            font-size:@sub-title-font-size;
        }
    }

    .block-4{
        h1{
            font-weight: bold;
            font-size:@title-font-size;
        }
        h4{
            font-size:@sub-sub-title-font-size;
        }
        h5{
            font-size:@description-font-size;
        }        
        .image2-pos{
            padding-top: 40px;
        }
        article{
            position: relative;
        }
        .rect {
            padding-top: 20px;
            padding-bottom: 20px;
            width:85%;
            border: 4px solid #c9c9c9;
            background-color: #f6f6f6;
            //height: 220px;
        }
        .text-rpos{
            padding-top: 25px;
            font-size:@description-font-size;
        }
        .small-container{
            width:90%;
        }
        .title{
            padding-top: 20px;
        }
    }
    .block-5{
        background: url('../img/white-grid.png') repeat;
        h2{
            font-weight: bold;
            font-size:@title-font-size;
        }
        .rect{
            //padding: 20px 50px 20px 50px;
            padding-top: 40px;
            border: 4px solid #c9c9c9;
            background-color: #fff;
            height: 200px;
        }
        .left{
            padding-right: 20px;
        }
        .right{
            padding-left: 20px;
        }
        .item{
            .pos{
                padding-top: 10px;
                padding-bottom: 10px;
            }
            ul{
                margin-left: -22px;
            }
        }
    }

    .block-6{
        background: url('../img/labo-block6-image.png') no-repeat scroll center center / 100% auto;
        background-size: cover;
        .num{
            width: 20px;
            height: 20px;
            background-color: #FA5097;
            display: inline-block;
            text-align: center;
            color: #fff;
            margin-right: 10px;
        }
        .txt{
            display: inline-block;            
        }
        .decor-txt{
            border-bottom: 2px solid #FB207A;
            font-weight: bold;
        }
        h4{
            letter-spacing: 4px;
        }
        h3{
            font-weight: bold;
            line-height: 40px;
        }
        h1{
            font-size: 40px;
            font-weight: bold;
        }
    }
    .block-7{
        background: url('../img/labo-block7-image.png') no-repeat scroll center center / 100% auto;
        height: 466px;
        background-size: cover;
        .rect{
            margin-left: 0px; 
            margin-right: 0px;
            padding: 10px 0 10px 10px;
            border: 1px solid #fff;
            background-color: #fff;           
            i{
                color: #ff0000;
                padding-left: 5px;
                padding-right: 10px;
            }
        }
    }
    .block-8{
        background: url('../img/1px-gradient.png') repeat;
        margin-top: -20px;
        z-index: 1;
        .headline{
            h2{
                font-weight: bold;
                line-height: 50px;
            }
            h4{
                line-height: 30px;
            }
        }
        article{
            position: relative;
            //width: 230px;
            h4{
                position: absolute;
                padding: 10px 0 0 10px;
                background-color: rgba(255,255,255,0.7);
                font-weight: bold;
            }
        }

        .title{
            padding-top: 10px
        }
        .rect{
            //padding: 20px 50px 20px 50px;
            margin-left: 0px; 
            margin-right: 0px; 
            margin-top: -15px;
            padding: 30px 0 40px 0;
            border: 4px solid #FBD4E4;
            background-color: #fff;
            height: auto;
            h3{
                padding-bottom: 30px;
                font-weight: bold;
                font-size: 22px;
            }
        }
        .bg{
            background: url('../img/labo-block8-image7.png') no-repeat scroll center center / 100% auto;
            //height: px;
            background-size: cover;
        }
    }
    .center-position{
        margin: 0;
        top: 50%;
        transform: translate(0, -50%);

    }

    .block-1{
        background: url('../img/labo-block1-image.png') repeat;
        background-size: cover;
        padding: 0px;
        height: 465px;
        position: relative;
        .over-text{
            position: absolute;
            right: 0;
            padding: 20px;
            color: #fff;
            font-weight: bold;
        }
        .text-1{
            color: white;
            font-size: 27px;
        }
        .border-reason-3{
            border: 2px solid white;
            padding: 18px;
            position: relative;
            width: 22% !important;
            font-weight: bold;
        }
        .glyphicon-menu-right{
            font-size: 20px;
            padding-top: 6%;
            color: white;
            position: absolute;
        }
        .row-gap-giant{
            height: 320px;
        }
        .middle-1{
            width: 2% !important;
        }
        .left-1{
            width: 27% !important;
        }
    }
}

@media (min-width: 992px){
    .custom-containter{
        width: 72%;            
    }
}
@media (min-width: 768px){    
    #labo{        
        .block-6{
            .small-container{
                width: 55%;
            }
        }
        .text-c-pc{
            text-align: center;
        }
    }
}

@media (max-width: 768px){
    #vietnam-profile{
        h3.post32{
            font-size: 18px;
        }
    }
    .intersection{
        h3{
            font-size: 17px !important;
            line-height: 25px !important;
        }
    }
    
    #labo{
        .text-c-pc{
            text-align: left;
        }
    }
}

#faq{
    .faq{
        max-width:800px;
        margin:auto;
    }
    ul{
        list-style-type: none;
    }
    .faq .ul_faq01 li {
        width: 373px;
    }
    .faq .ul_faq01 li p {
        background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 0 -1134px;
        margin: 5px 6px 0;
        padding: 0 0 0 8px;
    }
    .faq .ul_faq01 li p:first-child {
        background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1250px;
        border-bottom: 1px solid #9d72b5;
        border-top: 1px solid #9d72b5;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 5px 0 5px 12px;
    }
    .faq .ul_faq01 li p:first-child a {
        color: #9d72b5;
    }
    .faq .ul_faq02{
        padding: 0;
    }
    .faq .ul_faq02 li:first-child {
        margin-top: 0;    
    }
    .faq .ul_faq02 > li {
        margin-top: 60px;
    }
    .faq .ul_faq02 > li h3 {
        background: rgba(0, 0, 0, 0) url("../img/faq/bg_repeat.png") repeat-x scroll center bottom;
    }
    .faq .ul_faq02 > li h3 span {
        background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1483px;
        border-top: 2px solid #9d72b5;
        border-bottom: 2px solid #9d72b5;
        color: #9d72b5;
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0 10px 45px;
    }
    .faq .ul_faq03 li {
        padding-bottom: 20px;
    }
    .faq .ul_faq03 li h4 {
        background: rgba(0, 0, 0, 0) url("../img/ico/bg_icon.png") no-repeat scroll 5px -1360px;
        border-bottom: 1px dotted #888;
        border-top: 2px solid #9d72b5;
        /*font-size: 16px;*/
        font-weight: bold;
        margin-bottom: 13px;
        padding: 22px 0 19px 28px;
    }
}


.parallax-window {
    min-height: 600px;
    background: transparent;
}
.carousel-caption{
    top: 40%;
}
