/*Nguyễn Bảo Thi 18/02/2016*/
#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 200px solid #FFD700;
  border-right: 200px solid transparent;
  margin: -82px 0 0 0;
  position: absolute;
  z-index: 1;
}
#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid #FFFFFF;
  border-left: 100px solid transparent;
  margin: -10px 0 0 60px;
  position: absolute;
  z-index: 2;
}
#triangle-bottomright {
  margin: -224px 0px 0px 1681px;
  position: absolute;
  z-index: 1;
}
#triangle-bottomright1 {
  width: 0;
  height: 0;
  border-bottom: 133px solid  transparent;
  border-left: 240px solid #EFFF00;
  border-top: 173px solid  transparent;
  margin: -225px 0px 0px 1615px;
  position: absolute;
  z-index: 2;
}
/*Nguyễn Bảo Thi*/
@media screen and (max-width: 768px) {

  /*Nguyễn Bảo Thi 18/02/2016*/
  #triangle-bottomright {
    width: 109px;
    margin: -138px 0px 0px 558px;
    position: absolute;
    z-index: 1;
  }
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 124px solid #FFD700;
    border-right: 100px solid transparent;
    margin: -92px 0 0 0;
    position: absolute;
    z-index: 1;
  }
  #triangle-topright {
    width: 0;
    height: 0;
    border-top: 66px solid #FFFFFF;
    border-left: 50px solid transparent;
    margin: -10px 0 0 5px;
    position: absolute;
    z-index: 2;
  }
  /*Nguyễn Bảo Thi 18/02/2016*/
}
@media screen and (max-width: 460px) {
/*Nguyễn Bảo Thi 18/02/2016*/
  #triangle-bottomright {
    width: 109px;
    margin: -139px 0px 0px 268px;
    position: absolute;
    z-index: 1;
  }
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid #FFD700;
    border-right: 70px solid transparent;
    margin: -82px 0 0 0;
    position: absolute;
    z-index: 1;
  }
  #triangle-topright {
    width: 0;
    height: 0;
    border-top: 50px solid #FFFFFF;
    border-left: 50px solid transparent;
    margin: -11px 0 0 7px;
    position: absolute;
    z-index: 2;
  }
  /*Nguyễn Bảo Thi 18/02/2016*/
}

@media screen and (max-width: 320px) {
  /*Nguyễn Bảo Thi 18/02/2016*/
  #triangle-bottomright {
    width: 98px;
    margin: -125px 0px 0px 222px;
    position: absolute;
    z-index: 1;
  }
}
