
.detail{
	max-width:@max-width;
	margin:auto;
	.index-left-content{
		img:hover{
			opacity:0.5;
		}	
		h3{
			margin-top:0;
		}
		p{
			text-align:justify;
			line-height:25px;
		}
		.social{
			display: inline-block;
			margin:20px auto;
			.iineBtn-fb{
				  display: inline-block;
			}		
		}

		.call-to-action{
			background:@color-body;
			padding:15px 10px;
			p{
				color:@color-white;
			}
		}
		.tab-content{
			.abh-content{
				margin-top:20px;
				img{
				  	max-width: 80px;
				  	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
				  	overflow: hidden;
				  	border-radius: 50% 50% 50% 50%;			
				}
				span{
					font-size:@font-size-12;
					line-height:20px;
					a{
						text-decoration:none;
					}
					a:hover{
						color:@color-red;
					}					
				}

				p{
					margin:10px 0 0 20px;
					padding:0px 20px;
					border-left:1px dotted @color-body;
					border-right:1px dotted @color-body;
				}
			}
		}
		.related-post{
			h4{
				font-weight:bold;
				border-bottom:1px dotted @color-body;
				padding-bottom:3px;
			}
			.related-post-content{
				width:100%;
				.related-post-item{
					width:100px;
					float:left;
					margin:5px;
					img{
						border-radius: 5px;
    					border:1px solid @color-gray;
					}
					a{
						font-size:@font-size-12;
						line-height:20px;
					}
					a:hover{
						text-decoration:none;
						color:@color-red;
					}
				}		
			}
		}
	}	
}

@media (max-width: 767px) {
	.detail{
	    .index-left-content{
	        padding:0px;
	        background:none;
	        border-radius:0px;
	        h3{
	        	font-size:@font-size-16;
	        	font-weight:bold;
	        }
	        p{
	        	font-size:@font-size-12;	        
	        }
	    } 
	}   
}

@media (min-width: 768px) and (max-width: 991px) {	
	.detail{
        .index-content{
            padding-left:10px;
            padding-right:10px;
            .col-sm-8,.col-sm-4{
                padding-left:5px;
                padding-right:5px;
            }         
        }	
	    .index-left-content{
	        padding:15px 15px 15px 0;
	        background:@color-white;
	        border-radius:5px;
	        h3{
	        	font-size:@font-size-24;
	        }	     
	        p{
	        	font-size:@font-size-body;	        
	        }	           
	    } 
	}    
}

@media (min-width: 992px) and (max-width: 1199px) {	
	.detail{
        .index-content{
            padding-left:10px;
            padding-right:10px;
            .col-sm-8,.col-sm-4{
                padding-left:5px;
                padding-right:5px;
            }         
        }	
	    .index-left-content{
	        padding:15px 15px 15px 0;
	        background:@color-white;
	        border-radius:5px;
	        h3{
	        	font-size:@font-size-24;
	        }	
	        p{
	        	font-size:@font-size-body;	        
	        }	                
	    } 
	}   
}

@media (min-width: 1200px) {
	.detail{
        .index-content{
            padding-left:10px;
            padding-right:10px;
            .col-sm-8,.col-sm-4{
                padding-left:5px;
                padding-right:5px;
            }         
        }	
	    .index-left-content{
	        padding:15px 15px 15px 0;
	        h3{
	        	font-size:@font-size-24;
	        }	 
	        p{
	        	font-size:@font-size-body;	        
	        }	               
	    } 
	} 
}