{{ name }} 様

この度はエボラブルアジアにお問い合わせいただきまして誠にありがとうございます。
こちらは自動返信メールとなっております。
弊社にて確認した後、改めてご連絡させていただきます。

以下、お問い合わせ内容となっております。
ご確認くださいませ。
---------------------------------------------------------------
---------------------------------------------------------------

■会社名：　{{ company }}
{% if division != '' %}

■部署名：　{{ division }}

{% endif %}
■お名前：　{{ name }}

■メールアドレス：　{{ email }}

■電話番号：　{{ tel }}

■どこでエボラブルアジアを知りましたか?：　
{% for item in inq_all %}
　　　●{{ item }}
{% endfor %}

■お問い合わせ項目：　{{ itemSelect }}

■お問い合わせ内容：
{{ content }}



---------------------------------------------------------------
エボラブル アジア
5F Saigon Finance Center, 9 Dinh Tien Hoang Street,
District 1, HCMC
電話番号(Phone)：+84-8(39111489)
FAX：+84-8(39118767)
---------------------------------------------------------------