@charset "UTF-8";
/*=============================================================
creation-date :
last update :
=============================================================*/

/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
body {
  width: 100%;
  margin:0;
  padding:0;
  text-align:center;
  line-height:145%;
  letter-spacing:0.05em;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size:75%;
  height:100%;
  min-width: 1100px;
  }
/*-----------------------------------------------------------
Header
-------------------------------------------------------------*/
#headerWrap{
  width: 100%;
  padding-top: 10px;
  }
#headerInner{
  width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  }
  #headerInner p{ 
  
    padding-top: 17px;
    

  }

  #headerInner .floatL{
  	
  }
/*-----------------------------------------------------------
global Navi
-------------------------------------------------------------*/
#gNaviWrap{
 
    padding-top: 20px;
    
  }

  #gNaviWrap h1{
color: #7F7F7F;
font-size: 11px;
padding-right: 25px;

  }
#gNavi{
 margin: 0 auto;
    padding: 20px 30px 0;
    width: 1000px;

  }

#gNavi li{ float:left;}
  #gNavi a{
  	
    background:url(../img/gnavi/bg_gNavi02.png) no-repeat;
    height:28px;
    display:block;
    text-indent:-99999em;
  }
  #gNavi a:hover{
    opacity:0.4;
    filter:alpha(opacity=40);
  }
#gNavi01 a {

  width:148px;
  background-position: 0 0 !important;
}
#gNavi02 a {

  width:141px;
  background-position: -148px 0 !important;
}
#gNavi03 a {

  width:142px;
  background-position: -289px 0 !important;
} 
#gNavi04 a {

  width:142px;
  background-position: -431px 0 !important;
}
#gNavi05 a {

  width:141px;
  background-position: -573px 0 !important;
}
#gNavi06 a {

  width:141px;
  background-position: -714px 0 !important;
}
#gNavi07 a {

  width: 141px;
  background-position: -855px 0 !important;
}

#gNavi03{
  position: relative;
}

ul.ul_mchil{
   display: none;
    padding-top: 7px;
    position: absolute;
    top: 30px;
}

ul.ul_mchil li{
   background: none repeat scroll 0 0 #898989;
    margin-bottom: 1px;
    padding: 9px 5px 4px;
    width: 143px;
}

#gNavi  ul.ul_mchil li a{
  color: #fff;
  background: none;
  height:auto;
  text-indent: 0;
  background-position: none;

}

#gNavi03:hover .ul_mchil{
  display: block !important;
}

.ul_mchil li a span{
  font-size: 5px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
/*-----------------------------------------------------------
 Container/Maincontent
------------------------------------------------------------*/
div#container{
  width: 1000px;
  height: auto;
  padding: 60px 30px 0;
  margin: 0 auto 10px auto;
  }
div#mainContent{
  width: 700px;
  height: auto;
  margin: 0;
  float: left;
  }
div.container{
  width: 1000px;
  height: auto;
  padding: 0 30px;
  text-align: center;
  margin: 0 auto 10px auto;
  }
/*-----------------------------------------------------------
SubNavi
------------------------------------------------------------*/
#subNavi{
  width: 200px;
  float: right;
}
/*-----------------------------------------------------------
Footer
------------------------------------------------------------*/
#footerWrap{
    color: #ffffff;
    
    width: 100%;

  }
#footerWrap .copyright{
	background: url("../../img/top/bg_footer.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #3e3a39;
    padding: 15px;
}

 #footerWrap .footer_bg{ 
 	height: 223px;
 	 background: url(../img/footer/bg_t02.png) repeat scroll 0 0 ;

 }
#footerInner{
  margin: 0 auto;
    padding: 25px 30px 0;
    width: 1000px;
  }
  .back_top{
      bottom: 110px;
    height: 12px;
    position: fixed;
    right: 55px;
    width: 12px;

  }
/*-----------------------------------------------------------
Bread
------------------------------------------------------------*/
#bread{
  margin: 0 auto;
    padding-top: 6px;
    width: 1000px;
  }

#bread li a{
color: #B9A6A1;
  font-size: 11px;

}

 
#bread li{
  float: left;
  font-size: 11px;
  }
#bread .home{
  margin: 0 8px 0 0;
  }
#bread .next{
  padding: 0 0 0 5px;
  }
/*-----------------------------------------------------------
SNS
------------------------------------------------------------*/
#SNStop {
  width: 350px;
  height: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
  }
	.iineBtn-g {
	  width: 70px;
	  height: 28px;
	  margin: 0;
	  padding: 0;
	  float: left;
	  }
	.iineBtn-tw {
	  width: 90px;
	  height: 28px;
	  margin: 0;
	  padding: 0;
	  float: left;
	  }
	.iineBtn-fb {
	  width: 170px;
	  height: 28px;
	  margin: 0;
	  padding: 0;
	  float: left;
	  }
  